:root {
  --primary: rgb(133, 133, 133);
  --light: rgb(255, 228, 228);
  --dark: rgb(27, 27, 27);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--dark);
}

header nav ul li {
  list-style: none;
}

header a{
  color: var(--light);
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo {
  font-size: 2rem;
}

.nav_link {
  transition: 0.7s ease;
}

.nav_link:hover {
  color: var(--primary);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--light);
  border-radius: 5px;
}

@media(max-width: 550px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }

  .nav_menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--primary);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav_item {
    margin: 16px 0;
  }

  .nav_menu.active {
    right: 0;
  }
}